{% extends 'base.html.twig' %}

{% block body %}
{% for articulo in articulos %}
    <div class="articulo">
        <h4><a href="{{ path("ver_articulo",{id:articulo.id}) }}" >{{ articulo.nombre }}</a>
            <a href="{{ path("borrar_articulo", {id:articulo.id}) }}">X</a></h4>
        <div class="precio_articulo">
            {{ articulo.precio }}
        </div>
    </div>
{% else %}
    No hay  ningún articulos a la venta.
{% endfor %}
{% endblock %}
